## 머신러닝 파트
### 1번 데이터 확인 및 전처리

In [5]:
import pandas as pd

df1 = pd.read_csv('/Users/yuseonjong/ADP_study/10주차_0730/data/problem1-3.csv')
df1

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,Amount,Class
0,60.0,1.069141,0.043786,0.309867,1.316694,-0.462394,-0.857888,0.207904,-0.191270,0.056398,0.041567,-0.507358,-0.108666,-0.473257,0.452046,1.005675,0.185441,-0.439976,89.40,0
1,406.0,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,-2.772272,3.202033,-2.899907,-0.595222,-4.289254,0.389724,-1.140747,-2.830056,0.00,1
2,426.0,-1.932055,1.724618,1.288229,-0.396998,-0.140202,2.470521,-1.865298,-5.186855,0.794764,0.155379,0.034517,0.906738,-0.027172,-0.404303,-0.473949,0.274034,-0.222340,16.19,0
3,472.0,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,-0.838587,-0.414575,-0.503141,0.676502,-1.692029,2.000635,0.666780,0.599717,529.00,1
4,674.0,-0.719065,0.638954,0.686335,-0.023240,2.317890,3.871978,-0.312797,1.089780,-0.596925,-0.006142,-0.242883,-0.384491,0.109079,0.187565,1.823472,0.274346,-0.697730,22.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1188,172266.0,1.880157,-0.485374,0.095951,0.473297,-1.277631,-1.163752,-0.530703,-0.188080,1.340928,-0.242598,-0.032176,1.189035,0.778034,-0.327769,0.351492,-0.213423,-0.176871,35.00,0
1189,172288.0,2.100535,-0.014620,-1.602113,0.184332,0.383228,-0.768377,0.207428,-0.299064,0.584681,0.003055,-0.965941,0.225244,0.274983,0.428356,0.793141,-0.104875,-0.647107,4.49,0
1190,172329.0,2.078542,-1.119785,-0.338306,-0.727997,-1.330486,-0.669741,-1.068741,-0.125540,0.191309,0.706048,-0.754812,-0.291895,0.614961,-0.634456,0.267806,1.148287,0.127145,47.22,0
1191,172539.0,-5.823560,0.333130,-0.732746,0.770116,-3.785871,2.124706,-2.272833,2.896201,0.552732,1.113104,-1.554701,1.183078,0.287108,-0.023928,-1.800240,-1.032457,0.975180,150.00,0
1192,172676.0,1.915474,-0.217019,-0.521731,1.274430,-0.124715,0.351640,-0.502276,0.170470,0.773668,0.280500,0.540609,1.202146,0.075329,-0.023488,-1.020959,-0.021296,-0.580013,5.90,0

#### 1-1. EDA 데이터 탐색 시각화

### 1-2 변수간 상관관계를 시각화하고 전처리가 필요함을 설명하라

### 2번 차원축소 (1번 이어서)
#### 2-1 차원축소 방법 2가지 이상 비교하고 한 가지 선택

#### 2-2 추천한 한 가지를 실제로 수행하고 선택한 이유 설명

### 3 오버샘플링 / 언더샘플링 (1번 이어서)
#### 3-1 오버샘플링과 언더샘플링의 장단점 비교 및 선택 구현

#### 3-2 구현 및 알고리즘 2가지 이상 비교, 성능 측정

#### 3-2 구현 및 알고리즘 2가지 이상 비교, 성능 측정

### 4 이상탐지 (1번 이어서)
#### 4-1 이상탐지 모델 2가지 이상 기술, 장/단점 설명

#### 4-2 `2번`에서 만든 데이터로 한 가지 이상탐지 모델을 구현하고, `3번`에서 만든 모델과 비교

#### 4-3 데이터 분석가 관점에서 3번에서 만든 모델과 4번에서 만든 모델 설명

## 통계파트
#### 5번
2년 전 제품 생산량이 100,000개, 1년 전 제품 생산량이 150,000개, 그 후 팩토리 기술의 상승으로 제품 생산량이 250,000개 되었을 때, 연평균 상승률의 대푯값을 구하시오. (반올림하여 소수점 아래 둘째자리까지 표기하시오.)

#### 6번
12건의 광고시간 측정. 평균 15.5초, 분산 3.2초 일때 90% 신뢰구간은?

#### 7번
강의 상류와 하류의 생물 다양성 점수에 차이가 있는지 검정하시오. (단, 같은 강에서 상류와 하류는 서로 독립적이지 않으며, 종속적인 관계에 있다.)

- 7.1 귀무가설과 대립가설을 세우시오

- 7.2 검정 통계량과 유의 확률을 구하고, 연구가설 채택여부를 검정하시오.

In [6]:
import pandas as pd

df2 = pd.read_csv('/Users/yuseonjong/ADP_study/10주차_0730/data/river.csv')
df2

   River    up  down
0      A  57.1  45.7
1      B  51.6  37.2
2      C  53.9  53.3
3      D  59.0  54.3
4      E  57.5  46.3
5      F  46.1  61.3
6      G  53.8  42.7
7      H  49.4  50.2
8      I  49.6  49.1
9      J  51.6  57.7
10     K  50.6  57.3
11     L  55.8  50.8
12     M  53.0  51.9
13     N  50.5  45.6
14     O  51.8  40.1
15     P  51.3  48.3
16     Q  56.0  50.8
17     R  49.2  56.2
18     S  51.3  56.0

#### 7-1 귀무가설과 대립가설을 세우시오

#### 7.2 검정 통계량과 유의 확률을 구하고, 연구가설 채택여부를 검정하시오.

#### 8번
user_counts를 종속변수로 하는 데이터이다

- 8.1 분위수 회귀분석 (Quantile Regression) 을 사용하여 회귀 계수를 구하시오. (반올림하여 소수점 아래 둘째자리까지 표기하시오.)

- 8.2 `8.1`의 모델의 회귀계수를 활용하여 temperature : 10.5 , wind : 8.2 , precipitation : 3.5 일때 user_counts를 예측하시오

In [7]:
import pandas as pd

df3 = pd.read_csv('/Users/yuseonjong/ADP_study/10주차_0730/data/problem8.csv')
df3

      temperature      wind  precipitation  user_counts
0       10.400000  4.600000       0.844944         6368
1        5.666667  4.625000       0.040860         5902
2        4.933333  4.725000       0.008696         6226
3        3.400000  2.675000       0.156989         5829
4        8.900000  3.950000       7.988462         7589
...           ...       ...            ...          ...
2092     3.500000  2.100000       0.024096         5430
2093     8.233333  2.000000      16.843820         2125
2094     9.500000  3.666667      11.550575         6008
2095     4.800000  1.200000       0.104651         4929
2096     4.166667  1.466667       2.088235         2401

[2097 rows x 4 columns]

#### 8-1 분위수회귀를 사용하여 백분위 50%로 잡고 회귀 계수를 구하시오.
(반올림하여 소수점 둘째자리 까지 표기하시오)

#### 8-2 
`8-1` 모델의 회귀계수를 활용하여 temperature: 10.5, wind: 8.2, precipitation: 3.5 일때 `user_counts`를 예측하시오

#### 9번
지하철 호선과 월별, 승객 수 간 상관관계가 있는지 확인(Type III Anova 사용)

- 9.1 귀무가설과 대립가설 설정하라

- 9.2 통계량을 구하고, 대립가설 채택여부를 기술하라

In [8]:
import pandas as pd

df4 = pd.read_csv('/Users/yuseonjong/ADP_study/10주차_0730/data/subway.csv')
df4

    line  month  total
0      1      1   1703
1      1      2   1548
2      1      3   1615
3      1      4   1739
4      1      5   1735
5      1      6   1401
6      1      7   1609
7      1      8   1464
8      1      9   1418
9      1     10   1565
10     1     11   1544
11     1     12   1628
12     2      1   1749
13     2      2   1502
14     2      3   1603
15     2      4   1724
16     2      5   1736
17     2      6   1451
18     2      7   1604
19     2      8   1500
20     2      9   1468
21     2     10   1487
22     2     11   1509
23     2     12   1654
24     3      1   1717
25     3      2   1581
26     3      3   1591
27     3      4   1720
28     3      5   1660
29     3      6   1365
30     3      7   1549
31     3      8   1547
32     3      9   1479
33     3     10   1533
34     3     11   1482
35     3     12   1673
36     4      1   1633
37     4      2   1539
38     4      3   1576
39     4      4   1740
40     4      5   1676
41     4      6   1372
42     4      7   1599
43     4      8   1501
44     4      9   1495
45     4     10   1555
46     4     11   1500
47     4     12   1640